In [1]:
import numpy as np
from collections import Counter

In [2]:
def entropy(elements):
    counter = Counter(elements)
    probabilities = [counter[e] / len(elements) for e in elements]
    return -sum(p * np.log10(p) for p in probabilities)

In [3]:
entropy([1,1,1,1])

-0.0

In [4]:
entropy([1,1,1,0])

0.4316271552006655

In [5]:
import pandas as pd

In [16]:
mock_data = {
    'gender': ['F', 'F', 'F', 'F', 'M', 'M', 'M'],
    'income': ['+10', '-10', '+10', '+10', '+10', '+10', '-10'],
    'family_number': [1, 1, 2, 1, 1, 1, 2],
    'bought': [1, 1, 1, 0, 0, 0, 1]
}

In [17]:
dataset = pd.DataFrame.from_dict(mock_data)

In [18]:
dataset

  gender income  family_number  bought
0      F    +10              1       1
1      F    -10              1       1
2      F    +10              2       1
3      F    +10              1       0
4      M    +10              1       0
5      M    +10              1       0
6      M    -10              2       1

In [19]:
"""以family_number是1还是2来区分"""
set(mock_data['family_number'])

{1, 2}

In [24]:
sub_split_1 = dataset[dataset['family_number'] == 1]['bought'].tolist()

In [25]:
sub_split_2 = dataset[dataset['family_number'] != 1]['bought'].tolist()

In [26]:
"""那么上面两个的熵加起来等于？"""
entropy(sub_split_1) + entropy(sub_split_2)

0.7176797562470717

In [27]:
dataset.columns.tolist()

['gender', 'income', 'family_number', 'bought']

In [32]:
"""寻找最小切割"""

def find_the_min_spilter(training_data: pd.DataFrame, target: str) -> str:
    x_fields = set(training_data.columns.tolist()) - {target}
    
    spliter = None
    min_entropy = float('inf')
    
    for f in x_fields:
        elements = set(training_data[f])
        for e in elements:
            sub_spliter_1 = training_data[dataset[f] == e][target].tolist()
            entropy_1 = entropy(sub_split_1)
            sub_spliter_2 = training_data[dataset[f] != e][target].tolist()
            entropy_2 = entropy(sub_split_2)
            entropy_v = entropy_1 + entropy_2
            
            if entropy_v < min_entropy:
                min_entropy = entropy_v
                spliter = (f, e)
    
    print('spliter is: {}'.format(spliter))
    print('the min entropy is: {}'.format(min_entropy))
    
    return spliter

In [34]:
find_the_min_spilter(dataset, 'bought')

spliter is: ('gender', 'M')
the min entropy is: 0.7176797562470717

('gender', 'M')

In [36]:
dataset[dataset['gender'] == 'F']

  gender income  family_number  bought
0      F    +10              1       1
1      F    -10              1       1
2      F    +10              2       1
3      F    +10              1       0